# Server Configuration
PORT=5000
NODE_ENV=development

# Client Configuration
CLIENT_URL=http://localhost:3000

# MongoDB Connection
MONGO_URI=mongodb://localhost:27017/your_database_name

# JWT Secret
JWT_SECRET=your_jwt_secret_key

# YouTube API
YOUTUBE_API_KEY=your_youtube_api_key

# SynkD Web App Credentials
GOOGLE_CLIENT_ID=your_web_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_web_client_secret

# SynkD TV App Credentials
GOOGLE_TV_CLIENT_ID=your_tv_client_id.apps.googleusercontent.com
GOOGLE_TV_CLIENT_SECRET=your_tv_client_secret

# Redirect URI for OAuth 2.0
REDIRECT_URI=http://localhost:3000